

services:
  db:
    container_name: db
    image: postgres:15   
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
    restart: always
    command: postgres -c log_directory=/var/log/postgresql
    expose:
      - 5432

  backend:
    container_name: backend-django
    working_dir: /usr/src/app
    build:
      context: .
      dockerfile: ./dockerfiles/dev/django/Dockerfile
    volumes:
      - ./core:/usr/src/app 
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    environment:
      - DEBUG=True
    restart: always
    depends_on: 
      - db

  smtp4dev:
    image: rnwood/smtp4dev:v3
    restart: always
    ports:
      - "25:25"
      - "143:143"
    volumes:
      - smtp4dev-data:/smtp4dev
    environment:
      - ServerOptions_HostName=smtp4dev


volumes:
  smtp4dev-data: