{% if messages %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const typeColors = {
    error: 'red',
    danger: 'red',
    success: 'green',
    warning: 'orange',
    info: 'blue'
  };

  {% for message in messages %}
    Toastify({
      text: "{{ message|escapejs }}",
      duration: 3000,
      className: "{{ message.tags }}",
      style: {
        background: typeColors["{{ message.tags }}"] || "blue"
      },
      gravity: "top",
      position: "left",
    }).showToast();
  {% endfor %}
});
</script>
{% endif %}
